<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Teenusest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/skeleton.css") }}">
</head>
<body>
<div class="container">
    Natuke infot teenuse kohta:
    <ul>
        <li>Ressursse saavad kõik kasutajad võrdselt</li>
        <li>Kui mingi otsingutulemus jääb järjekorda väga pikaks ajaks siis tasub värskendamist proovida</li>
        <li>Sõnade definitsioone ma ei kontrolli e. kasutate omal vastutusel ning järgides originaalallika tingimusi
        </li>
        <li>Teise küsimuste puhul aitab kontakteerumine</li>
    </ul>
</div>
</body>
</html>