<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{{ url_for("static", filename="js/dictionary.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/dictionary.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/skeleton.css") }}">
    <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
    <title>Dictionary</title>
    <meta id="csrf" token="{{ csrf_token() }}">
    <meta id="raven_dsn" token="{{ raven_dsn }}">
</head>
<body>
<div class="container">
    <section class="header">
        <h2 class="title">Sõnaraamat</h2>
        <div class="value-props row">
            Veebiteenus sõnaraamatute info ühendamiseks
        </div>
    </section>
    <div class="navbar-spacer"></div>

    <nav class="navbar">
        <div class="container">
        </div>
    </nav>

    <div id="query-box">
        <form method="get" id="query">
            Otsitav sõna:<br>
            <input type="text" id="query-text" value="{{ word }}">
        </form>
    </div>
    <div class="navbar-spacer"></div>

    <div>
        <div>Õigekeelsussõnaraamat:</div>
        <ul class="dictionary-content" id="õs">
            <button id="õs-button">ÕS</button>
        </ul>
    </div>

    <div class="row">
        <div>Seletav sõnaraamat:</div>
        <ul class="dictionary-content" id="seletav">
            <button id="seletav-button">Seletav sõnaraamat</button>
        </ul>
    </div>

    <div class="row">
        <div>Wictionary:</div>
        <ul class="dictionary-content" id="wictionary">
            <button id="wictionary-button">Wictionary</button>
        </ul>
    </div>

    <div class="row">
        <div>Murdesõnastik:</div>
        <ul class="dictionary-content" id="murdesõnastik">
            <button id="murdesõnastik-button">Murdesõnastik</button>
        </ul>
    </div>

    <div class="row">
        <div>Arvutisõnastik:</div>
        <ul class="dictionary-content" id="arvutisõnastik">
            <button id="arvutisõnastik-button">Arvutisõnastik</button>
        </ul>
    </div>

    <div class="row">
        <div>Vallaste:</div>
        <ul class="dictionary-content" id="vallaste">
            <button id="vallaste-button">Vallaste</button>
        </ul>
    </div>

    <div class="row">
        <div>Lukus:</div>
        <ul class="dictionary-content" id="lukus">
            <button id="lukus-button" disabled>Lukus</button>
        </ul>
    </div>
</div>
</body>
</html>